* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Noto Serif TC', serif;
  font-family: 'Raleway', sans-serif;
}

body {
  background-color: #f1f3f8;
  color: #393b44;
  text-align: center;
  font-size: 2.4rem;
  overflow-x: hidden;
  line-height: 1.2em;
}

/* Header and navigation Styling*/
h1 {
  font-size: 7.2rem;
  font-weight: 800;
  letter-spacing: 0.2em;
  animation-duration: 3s;
  animation-name: span;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes span {
  from {
    letter-spacing: 0.2em;
  }

  to {
    letter-spacing: 0.3em;
  }
}

h2 {
  font-size: 3.4rem;
  color: #8d93ab;
}

h3 {
  font-size: 2.6rem;
  text-align: left;
  font-weight: 500;
}

h3 > span {
  float: right;
}

#header {
  background-color: #d6e0f0;
  height: 100vh;
  animation-duration: 1.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 60%;
  }

  to {
    margin-left: 0%;
  }
}

header {
  padding-top: 4rem;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: 4rem;
}

header > p {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#profile {
  height: 60vh;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

nav {
  background-color: #d6e0f0;
  color: #8d93ab;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  animation-duration: 1.5s;
  animation-name: slidein;
}

a {
  text-decoration: none;
  color: #393b44;
}

a:visited {
  color: #8d93ab;
}

a:hover {
  text-decoration: underline;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-right: auto;
  margin-left: auto;
}

li {
  margin: 1rem;
  padding: 1rem;
}

header ul {
  height: 5rem;
}

header img {
  width: 4.5rem;
  transition: width 0.3s;
}

header img:hover {
  width: 5rem;
}

#header > a {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}

#arrow-down {
  height: 10rem;
}

/* Footer Styling */
footer {
  font-size: 1.6rem;
  border-top: 2px solid #d6e0f0;
  padding: 1rem;
}

/* Main Styling */
.button {
  background: #393b44;
  color: #f1f3f8;
  border-radius: 0.4rem;
  transition: font-size 0.3s;
}

.intermediate {
  background: #8d93ab;
}

main > div {
  border-top: 1px solid #d6e0f0;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

main > div > * {
  width: 90%;
  max-width: 960px;
  margin: auto;
  margin-top: 1em;
}

label {
  display: block;
  margin-bottom: 0.3em;
  text-align: left;
}

button, input, textarea {
  background: none;
	color: inherit;
	border: none;
  padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

input, textarea {
  background: #d6e0f0;
  padding: 1rem;
  border-radius: 0.4rem;
  display: block;
  width: 100%;
  font-size: 2rem;
}

input:focus, textarea:focus {
  box-shadow: 0 0 0.5rem 0.3rem #d6e0f0;
  border: 1px solid #8d93ab;
}

textarea {
  height: 7em;
}

#contact .button:hover {
  font-size: 2.6rem;
  box-shadow: 0 0 0.5rem 0.1rem #8d93ab;
}

#contact ul {
  display: block;
}

#contact li {
  padding: 1rem 0;
}

#contact form {
  max-width: 600px;
}

main p {
  text-align: justify;
}

.card {
  background: #d6e0f0;
  border-radius: 0.4rem;
  margin-top: 1em;
  display: block;
}

#projects .card:hover {
  box-shadow: 0 0 0.5rem 0.3rem #d6e0f0;
  cursor: pointer;
}

.card > * {
  padding: 1.2rem;
}

.card h3 {
  border-bottom: 2px solid #f1f3f8;
  padding-bottom: 0.8rem;
}

main img {
  width: 100%;
}